@{
    ViewData["Title"] = "Propietario";
}
<h1>@ViewData["Title"]</h1>

<p>En esta sección se listarán los propietarios.</p>

<div id="datos">
<label>Ingrese el nombre: </label>
<input id="nombre">
<br>
<label>Ingrese el Apellido: </label>

<input id="apellido">
<br>
<label>Ingrese el Telefono: </label>
<input id="telefono">
<br>


</div>
<button id="alta"> Alta </button>
<button id="baja"> Baja </button>
<button id="modifica"> modifica </button>

<script> 
console.log("hola");